<h1>My Profile</h1>
<h3>Username: <%= @user.username %></h3>
<h3>Email: <%= @user.email %></h3>
<p><%= link_to "Find Friends", users_path, class: "btn btn-outline-primary" %></p>
<p id="notice"><%= notice %></p>

<%= link_to 'Accept friend request', friendships_path(:friend_id => @user), :method => :post ,class: "btn btn-success"%>


<%= link_to 'Remove friend request', users_path, class: "btn btn-danger"%>
<%= link_to 'Back', users_path, class: "btn btn-primary" %>


