
<p id="notice"><%= notice %></p>
 <strong>Name:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<%= link_to 'Accept friend request', friendship_path, method: :patch ,class: "btn btn-success"%>
<%= link_to 'Remove friend request', "", class: "btn btn-danger"%>
<%= link_to 'Back', users_path %>
