<%=render "layouts/header" %>

<p id="notice"><%= notice %></p>


<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>
<strong>Comments</strong>
<hr>
 <%= render 'comment/comment', collection: @post.comments.reverse%>


<%= render  'comment/form' %>
<%= link_to 'Back', posts_path %>
